
a{
  text-decoration:none;
}

.header-bg{
  background: #151515;
  opacity: 0.8;
}
.home-bg-banner{
  background-image: url(/cine-pos/src/assets/images/bg/bg1.png);
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 600px;
  padding-top: 94px;
}

.multiple-bg {
  background-image: url('../assets/images/bg/bg2.png'), url('../assets/images/bg/bg3.png'); /* 設定多個背景圖片 */
  background-repeat: no-repeat, no-repeat, no-repeat; /* 設定背景重複方式 */
  background-position: top 300px left -100px, top -80px right 15%; /* 設定背景位置 */
  background-size: 243px, 200px; /* 設定背景尺寸 */
  backdrop-filter: blur(10px); /* 設定模糊效果 */
}

.multiple-bg-1 {
  background-image: url('../assets/images/bg/bg5.png'); /* 設定多個背景圖片 */
  background-repeat: no-repeat; /* 設定背景重複方式 */
  background-position: top  right -20px; /* 設定背景位置 */
  background-size: 200px; /* 設定背景尺寸 */
  backdrop-filter: blur(10px); /* 設定模糊效果 */
}

.multiple-bg-2 {
  background-image: url('../assets/images/bg/bg-ellipse.png'); /* 設定多個背景圖片 */
  background-repeat: no-repeat; /* 設定背景重複方式 */
  background-position: center  center; /* 設定背景位置 */
  background-size: 1000px; /* 設定背景尺寸 */
  min-height: 700px;
}

.border-radius-15{
  border-radius: 15px;
}

.home-cont-icon{
  width: 558px;
  max-width: 100%;
}

.navbar-nav{
  min-width: 400px;
}

.pross-nav-container{
  width: 100%;
  max-width: 370px;
}

.porss-nav li::before {
    content: url("../assets/images/icon/vector.svg"); /* 设置图标图片的路径 */
    display: inline-block;
    width: 22px; /* 图片的宽度 */
    height: 22px; /* 图片的高度 */
    margin-right: 15px; /* 可选的，设置图标与文本之间的间距 */
}


.container-558{
  width: 558px;
  max-width: 100%;
  margin: 0 auto;
}

.pross-cont{
  box-sizing: border-box;
  padding: 48px;
  max-width: 675px;
  width: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  min-height: 794px;
  flex-wrap: wrap;
}

.cont-2{
  margin-top: 150px;
}

.pross-cont-img{
  border-radius: 15px;
  width: 100%;
  height: 424px;
  background-image: url('/assets/images/des/des-front.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pross-cont-img-1{
  background-image: url('/assets/images/des/des-backstage.png');
}

.pross-cont-img-2{
  background-image: url('/assets/images/des/des-front-1.png');
}

.pross-cont-img-3{
  background-image: url('/assets/images/des/des-backstage-1.png');
}

.container-bg-gradient{
  background: linear-gradient(90deg, rgba(156, 109, 255, 0.8) 0%, rgba(113, 221, 255, 0.8) 100%);
  border-radius: 15px;
  // background-image: url('/assets/images/bg/bg-6.png');
  // backdrop-filter: blur(30px); /* 設定模糊效果 */
}

.box-proccess{
  padding: 128px;
  color: white;
}

.cont-icon-statistics{
  width: 760px;
}

.container-statistics{
  min-height:600px;
  position: relative;
}

.container-statistics-text{
  min-height: 557px;
}


.team-nav{
  li{
    width: 380px;
    margin: 30px 18px;
    padding: 20px;
  }
}

.team-box-img{
  border:solid 1px white;
  border-radius: 15px;
  width: 100%;
  height: 256px;
  max-width: 380px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.team-box-img-1{
  background-image: url('/assets/images/team/team-img-1.png');
}
.team-box-img-2{
  background-image: url('/assets/images/team/team-img-2.png');
}
.team-box-img-3{
  background-image: url('/assets/images/team/team-img-3.png');
}
.team-box-img-4{
  background-image: url('/assets/images/team/team-img-4.png');
}
.team-box-img-5{
  background-image: url('/assets/images/team/team-img-5.png');
}


.experience-box{
  width: 323px;
  height: 380px;
  border-radius: 12px;
  background-repeat: no-repeat; /* 設定背景重複方式 */
  background-position: bottom -50px right -50px; /* 設定背景位置 */
  background-size: contain; /* 設定背景尺寸 */

}

.experience-box:hover{
  cursor: pointer;
}
.experience-box-light{
  background-image: url('/assets/images/icon/logo-light.svg');
}

.experience-box-dark{
  background-image: url('/assets/images/icon/logo-dark.svg');
}


.experience-title{
  position: relative;
}
.experience-title::after{
  content: url("../assets/images/icon/arrow-right.svg"); /* 设置图标图片的路径 */
  display: inline-flex;
  width: 22px; /* 图片的宽度 */
  height: 22px; /* 图片的高度 */
  margin-right: 15px; /* 可选的，设置图标与文本之间的间距 */
  position: absolute;
  top: 5px;
}

footer{
  min-height: 100px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{
  color: #DDDDDD80;
}


@media (max-width: 1440px) {

  .pross-cont-img{
    border:solid 1px white;
    border-radius: 12px;
    width: 100%;
    height: 230px;
    background-image: url('/assets/images/des/des-front.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pross-cont{
    min-height: 532px;
  }

  .cont-2{
    margin-top: 100px;
  }

  .box-proccess{
    padding: 30px;
  }

  .cont-icon-statistics{
    width: 600px;
  }

  .container-statistics{
    max-width: 100%;
    overflow: hidden;
    min-height: 608px;
  }
  .bg-statistics{
    position: absolute;
    z-index: -1;
    right: -200px;
  }
  .container-statistics-text{
    min-height: 608px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, rgba(21, 21, 21, 0.9) 0%, rgba(21, 21, 21, 0) 100%);
    width: 100%;
  }

  .hidden-box-1{
    display: none;
  }


  .team-nav{
    li{
      width: 100%;
    }
  }

  .container-team{
    padding: 72px;
    border-radius: 12px;
  }

  .team-box-desc{
    width: calc(100% - 122px);
    padding-left: 20px;
  }

  .team-box-img{
    width: 112px;
    height: 112px;
    max-width: 100%;
  }

  .team-box{
    width: 100%;
    display: flex;
  }


}

@media (max-width: 990px) {
  .cont-icon-statistics{
    width: 400px;
  }
  .bg-statistics{
    right: -100px;
  }

  .home-bg-banner, .container-features{
    min-height: 1000px;
  }

  .container-features{
    position: relative;
  }

  .container-features-text{
    position: absolute;
    top:600px;
  }

  .container-features-img{
    position: absolute;
    right: -200px;
    top:0;
    img{
      width: 460px;
    }
  }
}


@media (max-width: 576px) {


  .bg-statistics{
    position: absolute;
    z-index: -1;
    right: -200px;
  }

}
