/** 專案用色 */

$bg-coloer:#363636;


/** navbar scss*/
$navbar-dark-color:                 rgba($white, .55);
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  rgba($white, .1);

$navbar-dark-brand-color:                 $navbar-dark-active-color;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color;



.container-bg{
  background-color: $bg-coloer;
  min-height: 100vh;
}

.navbar-brand{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    margin-right: 0.5rem;
  }
}

main{
  padding-top: 55px;

}

// .logo {
//   width: 30px;
//   height: 30px;
//   margin-right: 8px;
//   background-image: url(../assets/images/logo/logo.svg);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: contain;
// }

@media (min-width: 992px) {

}

@media (max-width: 992px) {

}
