
.home-bg-banner{
  background-image: url(/cine-pos/src/assets/images/bg/bg1.png);
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  padding-top: 60px;
}

.multiple-bg {
  background-image: url('../assets/images/bg/bg2.png'), url('../assets/images/bg/bg3.png'), url('../assets/images/bg/bg4.png'); /* 設定多個背景圖片 */
  background-repeat: no-repeat, no-repeat, no-repeat; /* 設定背景重複方式 */
  background-position: bottom left, top right, bottom right; /* 設定背景位置 */
  background-size: 243px, 250px, 250px; /* 設定背景尺寸 */
  backdrop-filter: blur(10px); /* 設定模糊效果 */
}

.navbar-nav{
  min-width: 350px;

}


@media (min-width: 992px) {

}

@media (max-width: 992px) {

}
