<div class="container-bg">
  <div class="d-flex justify-center align-items-center fixed-top container-fluid g-0 header-bg">
    <div class="container">
      <nav class="navbar navbar-expand-lg  navbar-dark ">
        <div class="container-fluid d-flex justify-content-between">
          <div class="d-flex justify-center align-items-center">
            <img class="me-2" width="30px" height="30px" src="/assets/images/logo/logo.svg" alt="">
            <a class="navbar-brand" href="#">CinePOS</a>
          </div>

          <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active"  aria-current="page" href="#">產品特點</a>
            <a class="nav-link" href="#team">團隊介紹</a>
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              <div>
                <a href="https://web.cine-pos.com/" target="_blank"><button class="btn btn-cust btn-width-150">馬上體驗</button></a>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!--產品特點-->
  <main class="mb-5">
    <div class="home-bg-banner multiple-bg">
      <div class="container d-flex justify-content-between align-items-start align-items-lg-center container-features">
        <div class="container-features-text">
          <p class="display-1 gradient-text lh-base fw-bolder">讓電影體驗更完美<br>從CinePOS開始</p>
          <p class="fs-3 text-color-gray lh-lg pt-3 pb-3">從容應對您的零售挑戰，打造更高效、更智能的商業體驗</p>
          <button class="btn btn-cust fs-5 btn-width-240">開始瞭解</button>
        </div>
        <div class="container-features-img">
          <img class="home-cont-icon" src="/assets/images/logo/logo-backstage.svg" alt="">
        </div>
      </div>
    </div>

    <!--流程介紹-->
    <div class="container-fluid g-0 pt-5 multiple-bg-1">
      <div class="container pt-5 pb-5">
        <div class="text-center container-558 ">
          <p class="display-1 gradient-text lh-base fw-bolder">簡單易用的<br>座位設定流程</p>
          <p class="fs-3 text-color-gray pt-3 pb-3 justified-text">我們的座位設定流程非常簡單易用，讓您輕鬆設定理想的座位。只需透過直覺性的界面，選擇您需要的座位類型及位置，即可輕鬆完成座位選擇，不再受到場地限制。</p>
        </div>

        <div class="d-flex justify-content-xxl-between lh-lg align-items-center flex-wrap justify-content-center">

           <!--介紹框-->
          <div class="pross-cont cont-1 bg-cust-dark-1 flex-md-grow-1">
            <div class="d-flex justify-content-between align-items-center w-100">
              <!--small title-->
              <div>
                <p class="fs-1 text-light lh-lg pt-3 pb-3">前台</p>
              </div>

              <!--small nav-->
              <div class=" gradient-text fs-1">
                <ul class="porss-nav list-unstyled">
                  <li>流程直覺</li>
                  <li>顏色視覺化</li>
                  <li>減少櫃台學習門檻</li>
                </ul>
              </div>
            </div>

            <div class="pross-cont-img"></div>

            <p class="fs-3 text-color-gray justified-text  mt-5">易於辨識和操作，降低員工學習成本，加快結帳效率。</p>
          </div>

          <div class="pross-cont cont-2 bg-cust-dark-1 flex-md-grow-1">
            <div class="d-flex justify-content-between align-items-center w-100">
              <!--small title-->
              <div>
                <p class="fs-1 text-light lh-lg pt-3 pb-3">後台</p>
              </div>

              <!--small nav-->
              <div class="pross-nav-container gradient-text fs-1 d-flex  justify-content-center">
                <ul class="flex-wrap porss-nav pross-nav-1 list-unstyled list-group list-group-horizontal-xxl ">
                  <li>場地大小</li>
                  <li>走道設定</li>
                  <li>特殊座位</li>
                  <li>排號設定</li>
                </ul>
              </div>
            </div>

            <div class="pross-cont-img pross-cont-img-1"></div>

            <p class="fs-3 text-color-gray  justified-text mt-5">只需四步，任意場地形狀，都能征服。</p>
          </div>
        </div>
      </div>
    </div>

    <!--完善訂退票流程-->
    <div class="container-bg-gradient container pt-xl-5 pb-xl-5 ">
      <div class="box-proccess d-flex justify-content-xxl-between lh-lg align-items-center flex-wrap justify-content-center">
        <div class="order-xl-0  order-1">
          <img style="max-width: 100%;" src="../assets/images/des/des-booking.png" alt="">
        </div>

        <div class="d-flex align-items-center justify-content-center order-xl-1 order-0">
          <div style="width: 100%; max-width: 494px;">
            <p class="display-1 fw-bolder mt-5 mt-xl-0">完善的訂/退票流程<br>
              讓現場操作更流暢</p>
            <p class="fs-3 mt-5">
              我們擁有完善的訂退票流程，<br>
              讓您能夠輕鬆更改訂票或退票；透過簡單直覺的操作，讓操作更加流暢，節省現場的寶貴時間。<br>
              無論是突發狀況還是臨時變更計劃，<br>
              我們都能夠靈活應對。<br>
            </p>
          </div>

        </div>
      </div>
    </div>


    <!--視覺化的分析數據-->
    <div class="home-bg-banner multiple-bg">
      <div class="container d-flex justify-content-between align-items-center container-statistics">
        <div class="d-flex flex-column justify-content-between  container-statistics-text">
          <div class="hidden-box-1"></div>
          <div>
            <p class="display-1 gradient-text lh-base fw-bolder">視覺化的分析數據</p>
            <p class="fs-3 text-color-gray lh-lg pt-3 pb-3">透過直覺性的圖表、統計分析，讓您能夠輕鬆掌握市場趨勢及消費者喜好，協助您做出更明智的經營決策，提升業績。</p>
          </div>
          <p class="fs-3 text-light">簡單快速查看每廳每日的電影票房、<br>
            觀影人數、上座率和退票率，<br>
            並以圖表呈現，輕鬆了解本周營業額的情況。</p>
        </div>
        <div class="bg-statistics">
          <img class="cont-icon-statistics" src="/assets/images/icon/icon-statistics.svg" alt="">
        </div>
      </div>
    </div>

    <!--更直覺的時刻安排-->
    <div class="container-fluid g-0 pt-5 multiple-bg-1">
      <div class="container pt-5 pb-5">
        <div class="text-center container-558 ">
          <p class="display-1 gradient-text lh-base fw-bolder">更直覺的時刻表安排</p>
          <p class="fs-3 text-color-gray pt-3 pb-3 justified-text">我們提供更直觀的時刻表安排，
            讓您能夠輕鬆設定電影場次，提高經營效率。
            透過清晰易讀的時刻表，讓您能夠更加方便地規劃電影場次，
            快速排定排片時段。</p>
        </div>

        <div class="d-flex justify-content-xxl-between lh-lg align-items-center flex-wrap justify-content-center">

           <!--介紹框-->
          <div class="pross-cont cont-1 bg-cust-dark-1 flex-md-grow-1">
            <div class="d-flex justify-content-between align-items-center w-100">
              <!--small title-->
              <div>
                <p class="fs-1 text-light lh-lg">前台</p>
              </div>
            </div>

            <div class="pross-cont-img pross-cont-img-2"></div>

            <p class="fs-3 text-color-gray justified-text  mt-5">良好的UX設計，使得現場能快速替顧客訂票。</p>
          </div>

          <div class="pross-cont cont-2 bg-cust-dark-1 flex-md-grow-1">
            <div class="d-flex justify-content-between align-items-center w-100">
              <!--small title-->
              <div>
                <p class="fs-1 text-light lh-lg">後台</p>
              </div>
            </div>

            <div class="pross-cont-img pross-cont-img-3"></div>

            <p class="fs-3 text-color-gray  justified-text mt-5">視覺化的設定一周間場次，更加便利的查找電影。</p>
          </div>
        </div>
      </div>
    </div>


    <!--團隊介紹-->
    <div id="team" class="container container-team d-flex justify-content-center bg-cust-dark-1">

      <ul class="team-nav d-flex justify-content-center justify-content-xxl-center flex-wrap list-group list-group-horizontal-xxl">
        <li>
          <p class="fs-1 gradient-text lh-base fw-bolder">團隊介紹</p>
        </li>

        <li>
          <div class="team-box d-flex flex-xxl-column align-items-center">
            <div class="team-box-img team-box-img-1"></div>

            <div class="team-box-desc">
              <p class="fs-3 text-light mt-3">啊培培</p>
              <p class="fs-5 text-light">主要活動範圍是雙北
                目前在金融相關公司擔任前端工程師
                工作上使用: Angular、RXjs、Vue(MVC)、jQuery、CI/CD、Git、Azure... 等等</p>
            </div>

          </div>
        </li>

        <li>
          <div class="team-box d-flex flex-xxl-column align-items-center">
            <div class="team-box-img  team-box-img-2"></div>
            <div class="team-box-desc">
              <p class="fs-3 text-light mt-3">Dee</p>
              <p class="fs-5 text-light">主要活動範圍是雙北
                目前在IOT物聯網產品公司擔任全端工程師
                工作上使用：PHP (Laravel)、jQuery、MySQL、MongoDB、Docker</p>
            </div>
          </div>
        </li>

        <li>
          <div class="team-box d-flex flex-xxl-column align-items-center">
            <div class="team-box-img  team-box-img-3"></div>
            <div class="team-box-desc">
              <p class="fs-3 text-light mt-3">方佳文</p>
              <p class="fs-5 text-light"> - 專長與工作經歷：程式設計、專案管理、數位行銷
                - 現任永慶集團Angular前端工程師，負責開發內部ERP系統</p>
            </div>

          </div>
        </li>

        <li>
          <div class="team-box d-flex flex-xxl-column align-items-center">
            <div class="team-box-img  team-box-img-4"></div>
            <div class="team-box-desc">
              <p class="fs-3 text-light mt-3">MichelleHsieh</p>
              <p class="fs-5 text-light">現職在金融相關公司擔任Angular前端工程師
                相關作品類型 : 形象官網、後台管理系統</p>
            </div>
          </div>
        </li>

        <li>
          <div class="team-box d-flex flex-xxl-column align-items-center">
            <div class="team-box-img  team-box-img-5"></div>
            <div class="team-box-desc">
              <p class="fs-3 text-light mt-3">ZoeWu</p>
              <p class="fs-5 text-light">主要活動範圍是雙北
                目前在金融相關的產業接案公司擔任前端工程師
                工作上使用：Angular8-14, Sass、Java、MySQL、Git</p>
            </div>
          </div>
        </li>
      </ul>
    </div>


    <!--馬上體驗-->

    <div class="container container-experience multiple-bg-2 pt-5 mt-5">
      <ul class=" experience-nav d-flex justify-content-center justify-content-lg-between flex-wrap list-group list-group-horizontal-lg">
        <li>
          <div class="experience-box d-flex justify-center align-items-center">
            <p class="display-1 gradient-text lh-base fw-bolder experience-title">馬上體驗</p>
          </div>

        </li>

        <li>
            <div class="d-flex justify-content-center justify-content-lg-between flex-wrap">
            <a href="https://web.cine-pos.com/" target="_blank">
              <div class=" bg-cust-dark-1 border-radius-15 ms-5 me-5 mt-5">
                <div class="experience-box experience-box-dark go-front">
                  <p class="fs-1 text-light pt-5 ps-5">前台販售</p>
                </div>
              </div>
            </a>

            <a href="https://web.cine-pos.com/manager/login" target="_blank">
              <div class=" bg-cust-dark-1 border-radius-15  ms-5 me-5 mt-5">
                <div class="experience-box experience-box-light go-backstage">
                  <p class="fs-1 text-light pt-5 ps-5">後台管理</p>
                </div>
              </div>

            </a>

          </div>
        </li>
      </ul>

    </div>

</main>

</div>

<footer>
  <p class="text-light fs-4">Copyright © 2023 CineTech. All rights reserved.</p>
</footer>
