<div class="container-bg">
  <div class="d-flex justify-center align-items-center fixed-top container-fluid g-0" style="background-color: transparent !important;">
    <div class="container">
      <nav class="navbar navbar-expand-lg  navbar-dark " style="background-color: transparent !important;">
        <div class="container-fluid d-flex justify-content-between">
          <div class="d-flex justify-center align-items-center">
            <img class="me-2" width="30px" height="30px" src="/assets/images/logo/logo.svg" alt="">
            <a class="navbar-brand" href="#">CinePOS</a>
          </div>

          <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active"  aria-current="page" href="#">產品特點</a>
            <a class="nav-link" href="#">團隊介紹</a>
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">
              <div>
                <button class="btn btn-cust btn-width-150">馬上體驗</button>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!--產品特點-->
  <main class="">
    <div class="home-bg-banner multiple-bg">
      <div class="container d-flex justify-content-between align-items-center" style="min-height:600px">
        <div>
          <p class="display-1 gradient-text lh-base fw-medium">讓電影體驗更完美<br>從CinePOS開始</p>
          <p class="fs-3 text-color-gray lh-lg pt-3 pb-3">從容應對您的零售挑戰，打造更高效、更智能的商業體驗</p>
          <button class="btn btn-cust fs-5 btn-width-240">開始瞭解</button>
        </div>
        <div>
          <img class="home-cont-icon" src="/assets/images/icon/icon.svg" alt="">
        </div>
      </div>
    </div>

    <!--流程介紹-->
    <div class="container-fluid g-0 pt-5 multiple-bg-1">
      <div class="container border pt-5 pb-5">
        <div class="text-center container-558">
          <p class="display-1 gradient-text lh-base fw-medium">簡單易用的<br>座位設定流程</p>
          <p class="fs-3 text-color-gray pt-3 pb-3 justified-text">我們的座位設定流程非常簡單易用，讓您輕鬆設定理想的座位。只需透過直覺性的界面，選擇您需要的座位類型及位置，即可輕鬆完成座位選擇，不再受到場地限制。</p>
        </div>

        <div class="d-flex justify-content-between lh-lg align-items-center">

           <!--介紹框-->
          <div class="pross-cont cont-1 bg-cust-dark-1">
            <div class="d-flex justify-content-between align-items-center">
              <!--small title-->
              <div>
                <p class="fs-1 text-light lh-lg pt-3 pb-3">前台</p>
              </div>

              <!--small nav-->
              <div class=" gradient-text fs-1">
                <ul class="porss-nav">
                  <li>流程直覺</li>
                  <li>顏色視覺化</li>
                  <li>減少櫃台學習門檻</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="pross-cont cont-2 bg-cust-dark-1">
            <div class="d-flex justify-content-between align-items-center">
              <!--small title-->
              <div>
                <p class="fs-1 text-light lh-lg pt-3 pb-3">後台</p>
              </div>

              <!--small nav-->
              <div class=" gradient-text fs-1">
                <ul class="pross-nav">
                  <li>場地大小</li>
                  <li>走道設定</li>
                  <li>特殊座位</li>
                  <li>排號設定</li>
                </ul>
              </div>
            </div>
          </div>

        </div>


      </div>


    </div>

</main>

</div>
